@charset "UTF-8";




:root {
    
    --font01:;
    --font02:;
}

* {
    margin: 0px;
    padding: 0px;

}

 html, body {
    max-height: 100vh;
    background-color: darkgrey;
   
 }
 
 header{
    background-color: black;
    text-align: center; color: white;
 }

 header > h1{
    padding-top: 50px;
    font-variant: small-caps;
 }

 header > p {

    
 }

 section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
 }